{% extends 'layout/main_layout.html' %}
{% block body %}
    {#    GoTo My resume - <a class="btn btn-outline-primary bx bx-arrow-to-right" href="{% url 'resume' %}"></a>#}
    <div class="container-fluid">

        <section>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 mt-2" align="center">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Here to review my resume?</h5>
                            <p class="card-text">Click below link to review my resume</p>
                            <a href="{% url 'my_resume' %}" class="btn btn-outline-primary card-link">My Resume</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 mt-2" align="center">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">You can create your own resume</h5>
                            <p class="card-text">To Create your resume please visit below link</p>
                            <a href="#" class="btn btn-outline-primary card-link">Coming Soon</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 mt-2" align="center">
                    <div class="card shadow" >
                        <div class="card-body">
                            <h5 class="card-title">Sign In(Coming soon)</h5>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                            </div>
                        </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 mt-2" align="center">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Sign Un(Coming soon)</h5>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}