{% extends 'layout/main_layout.html' %}
{% load static %}
{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Sharieaz Kavier</h1>
            <p>I'm a <span class="typed" data-typed-items="Programmer,Developer, Designer, Freelancer"></span></p>
            <div class="social-links">
                <a target="_blank" href="https://twitter.com/shahriazkobir" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/shahriaz.kobir/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a target="_blank" href="https://join.skype.com/invite/U9K7OgXo2dKx" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/shahriaz-kobir-023b181b6/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <hr>
                <h4 style="text-align: left; color: blue">Hello!</h4>
                <p style="text-align: justify; text-shadow: white; color: black;">
                    Becoming a web developer was my passion. My enthusiastic nature always encourages me to learn new
                    things. I learn with dedication and build with skill. Practicing tons of tutorials from youtube for
                    three years made me an experienced designer and developer. Achieved a Computer Science and
                    Engineering Degree from North South University. Currently, I'm a Freelancer(Fiverr) and Affiliate
                    Marketer(CPA Grip, CPA Lead, Ad Work Media). It's my website which is managed and developed by me.
                    I am looking forward to becoming a full-stack web developer. Feel free to give any feedback via
                    email or contact me on social media.
                </p>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About</h2>
                    <p style="text-align: justify">Dynamic and motivated for generating and building relationships,
                        managing projects from concept to completion, designing educational strategies. Skilled in
                        building cross-functional teams, and making critical decisions during challenges. An adaptable
                        and transformational leader with an ability to work independently.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img style="border-radius: 25px; box-shadow: black;" height="70%" width="60%"
                             src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>UI/UX Designer &amp; Web Developer.</h3>
                        <p class="font-italic">
                            "A successful website does three things:
                            It attracts the right kinds of visitors.
                            Guides them to the main services or product you offer.
                            Collect Contact details for future ongoing relation."
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>Full Name:</strong> Sharieaz
                                        Kavier
                                    </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Occupation:</strong> Student</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Nationality:</strong> Bangladeshi
                                    </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Blood Group:</strong> A (+ve)</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Date of Birth:</strong> 15 NOV
                                        2019
                                    </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Height:</strong> 5'3"</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Weight:</strong> 55 Kg</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Skin Tone:</strong> Brown</li>


                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>Hair Color:</strong> Black</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Smoker:</strong> No</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Alcoholic:</strong> No</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 25</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Under Graduate
                                    </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong>(+88) 01891977686</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Email:</strong>
                                        shahriazkobir@gmail.com
                                    </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> <a
                                            style="text-decoration: none;" href="https://www.fiverr.com/sharieazk">Available</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Skills</h2>
                    <p>“With software there are only two possibilities: either the users control the programme or the
                        programme controls the users. If the programme controls the users, and the developer controls
                        the programme, then the programme is an instrument of unjust power.”</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">HTML <i class="val">98%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">React & Vue with state management <i class="val">55%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Figma Design Tool <i class="val">95%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Adobe XD Design Tool <i class="val">95%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">JQuery <i class="val">60%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">Python <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Django Framework<i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">DotNet C#<i class="val">45%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Blazor & Web Api(DotNet C#)<i class="val">65%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">VCS (Git, Bit Bucket)<i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>


                        <div class="progress">
                            <span class="skill">Photoshop <i class="val">30%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Resume</h2>
                </div>


                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Computer Science & Engineering</h4>
                    <h5>BACHELOR OF SCIENCE</h5> <h5>2015 - 2020</h5>
                    <p><em>North South University, Dhaka</em></p>
                    <p>CGPA: 2.51 (79%)</p>
                </div>
                <div class="resume-item">
                    <h4>Higher Secondary Certificate (H.S.C)</h4>
                    <h5>2011 - 2013</h5>
                    <p><em>Blue Bird School & College, Sylhet</em></p>
                    <p>GPA: 3.90 (A-)</p>
                </div>
                <div class="resume-item">
                    <h4>Secondary School Certificate (S.S.C)</h4>
                    <h5>2008 - 2010</h5>
                    <p><em>Police Line High School, Sylhet</em></p>
                    <p>GPA: 4.69 (A)</p>

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">University Projects</h3>
                        <div class="resume-item pb-0">
                            <h4>Super Shop</h4>
                            <p><em>A store management software, I built with my friend during my <strong>JAVA</strong>
                                course</em></p>
                            <p><em>Features:</em></p>
                            <ul>
                                <li>Basic hard coded Auth system</li>
                                <li>Product and employee data storage system</li>
                                <li>Billing system</li>
                                <li>printable recite</li>
                            </ul>
                            <p>Tools:</p>
                            <ul>
                                <li><strong>Java Jdk, JFrame, Netbeans IDE, *.DAT file as Data Base</strong></li>
                            </ul>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>Splay Tree</h4>
                            <p><em>This is a binary search tree algorithm which balances itself, Additional property
                                that recently accessed elements are quick to access again. It performs basic operations
                                such as insertion, look-up and removal in O(log n) amortized time.</em></p>
                            <p><em>Features:</em></p>
                            <ul>
                                <li>This algorithm was implemented in c++</li>
                                <li>This is a part of my data structure & algorithm course</li>
                                <li>Insert, Delete, Delete from n'th point, insert into n'th point etc.</li>
                            </ul>
                            <p>Tools:</p>
                            <ul>
                                <li><strong>C++, Netbeans IDE</strong></li>
                            </ul>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>Smart Menu</h4>
                            <p><em>Android app with JAVA and WebApi with Django. This is a smart menu system for a
                                restaurant. Customers can preview food to their plate before ordering them.</em></p>
                            <p><em>Features:</em></p>
                            <ul>
                                <li>Fully interactive 3D model, rendered in realtime.</li>
                                <li>Native android app and REST API for further extension of the project to other
                                    platforms.
                                </li>
                                <li>Built with python and java</li>
                            </ul>
                            <p>Tools:</p>
                            <ul>
                                <li><strong>JAVA(Android), AR Core - Augmented Reality Handler, Pillow - Image
                                    processor, Volley-Rest Api Client, Android IDE, Python, Python-rest-framework,
                                    JetBrains Pycharm IDE</strong></li>
                            </ul>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>RAMSAY</h4>
                            <p><em>This is a food delivery app created with Django. It's capable of giving its users
                                Realtime location and weather based food suggestion</em></p>
                            <p>Features:</p>
                            <ul>
                                <li>These application has a robust Authentication system with Google, Facebook, Github
                                    etc.
                                </li>
                                <li>Sql Database system, Which maintains the relations between the users and the
                                    seller
                                </li>
                                <li>Very interactive ui, made with Bootstrap-4</li>
                            </ul>
                            <p>Tools:</p>
                            <ul>
                                <li><strong>Python, HTML, CSS, BootStrap-4, JavaScript, Geo Location, Ip Tracker,
                                    Pycharm IDE</strong></li>
                            </ul>
                        </div>

                    </div>


                    <div class="col-lg-6">
                        <h3 class="resume-title">Personal Projects</h3>
                        <div class="resume-item pb-0">
                            <h4>RAMSAY</h4>
                            <p><em>This is a food delivery app created with Django. It's capable of giving its users
                                Realtime location and weather based food suggestion</em></p>
                            <p>Features:</p>
                            <ul>
                                <li>These application has a robust Authentication system with Google, Facebook, Github
                                    etc.
                                </li>
                                <li>Sql Database system, Which maintains the relations between the users and the
                                    seller
                                </li>
                                <li>Very interactive ui, made with Bootstrap-4</li>
                            </ul>
                            <p>Tools:</p>
                            <ul>
                                <li><strong>Python, HTML, CSS, BootStrap-4, JavaScript, Geo Location, Ip Tracker,
                                    Pycharm IDE</strong></li>
                            </ul>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>React & Vue TODO</h4>
                            <p><em>As I said earlier, I am an enthusiast that's why I moved on and learned some JS
                                Framework. Both of them are very similar, that's why i am writing both of them
                                together. </em></p>
                            <p>Outcome:</p>
                            <ul>
                                <li>
                                    Learned JSX, Redux, Vuex, React Hooks, Component Life Cycle, State Management, etc.
                                </li>
                                <li>
                                    Learned some front end UI library too. some of them are (material & bootstrap)
                                    design for (react and vue)
                                </li>
                                <li>Connected them with firebase for user management and data storage</li>
                            </ul>
                            <p>Tools:</p>
                            <ul>
                                <li><strong>JavaScript, React, Vue, Redux, Vuex, Vuetify, Material design for React,
                                    Visual Studio Code</strong></li>
                            </ul>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>Blazor WASM (Planner App)</h4>
                            <p><em>
                                This one is interesting and my favorite one. I like C# and DOTNET eco system.
                                I always wanted learn dotnet. Now i am learning it. This is planner app where a user can
                                register and create their plan, set their todos according to the plan
                                Most importantly this is a <strong>Client Side Application</strong>.
                            </em></p>
                            <p>Features:</p>
                            <ul>
                                <li>
                                    Sophisticated user authentication system with microsoft identity provider
                                </li>
                                <li>
                                    Browser local storage data base. JWT authentication
                                </li>
                                <li>Add plan, Edit Plan, Remove Plan, Add TODOs, Remove TODOs</li>
                            </ul>
                            <p>Tools:</p>
                            <ul>
                                <li><strong>Visual Studio-2019, C#, ASP dot NET, Blazor(WASM)</strong></li>
                            </ul>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>Asp Dot net (Web Api)</h4>
                            <p><em>
                                This is a Restful web api of a student management system built with dotnet eco system
                            </em></p>
                            <p>Features:</p>
                            <ul>
                                <li>
                                    Sophisticated user authentication system with microsoft identity provider
                                </li>
                                <li>
                                    JWT authentication, Token Based login
                                </li>
                                <li>
                                    Student teacher relation and home work checking
                                </li>
                            </ul>
                            <p>Tools:</p>
                            <ul>
                                <li><strong>Visual Studio-2019, C#, ASP dot NET, Dot Net Web Api</strong></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title">Research Projects</h3>
                        <div class="resume-item pb-0">
                            <h4>Fifa-19 dataset analysis and predicting winner between two team</h4>
                            <p><em>Its a fun little project was part of my <strong>Machine Learning Course</strong>These
                                project required some machine learning algorithms like, Unsupervised Learning,
                                Supervised Learning, Logistic Regression(Classification), I documented this on
                                Latex</em></p>
                            <p>Features:</p>
                            <ul>
                                <li>Taking a Raw CSV data set of size 15000 and pre-processed it with Pandas and numpy
                                </li>
                                <li>Then applied the unsupervised learning algorithm for different feature extraction
                                    and clustering.
                                </li>
                                <li>Supervised learning comes in when I needed the target and result</li>
                                <li>After all the processing done I applied the Linear Regression Algorithm and
                                    predicted the winner team with 89% percent accuracy
                                </li>
                            </ul>
                            <p>Tools: </p>
                            <ul>
                                <li>
                                    <strong>Python, Pandas, Sk Learn, NumPy, MatPlotLib library's</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>Video Classification using Transfer Learning Approach(Deep Learning) </h4>
                            <p><em>Its a fun little project was part of my <strong>"Pattern Recognition Course"</strong>
                                I really enjoyed doing these project. there is different approach in Transfer learning.
                                For simplicity let's say, what type of data we want to use from other trained models.
                                We can use Instance transfer, Feature-representation transfer, Parameter Transfer,
                                Relational-Knowledge transfer etc. In my case I had to take Feature-representation
                                transfer for my classification data because it will provide me enough data that can be
                                compared in a video frame by frame. Then We just need to fed the data in the training
                                model of the Transfer learning algorithm. First we must split the data into two section
                                training and testing. after training completion we can classify a video using image
                                classification data thanks to transfer learning.
                                **I will upload the paper in my website soon.
                            </em></p>
                            <p>Tools: </p>
                            <ul>
                                <li>
                                    <strong>Python, Pandas, PyTorch, NumPy, MatPlotLib library's</strong>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title"> Organizations</h3>
                        <div class="resume-item pb-0">
                            <h4>Daikamota Social Welfare Council.</h4>
                            <p><em>Joint Convener</em></p>
                            <p>10/2019-Present</p>
                            <a target="_blank" href="https://www.facebook.com/%E0%A6%A6%E0%A7%88%E0%A6%95%E0%A6%BE%E0%A6%AE%E0%A6%A4%E0%A6%BE-%E0%A6%B8%E0%A6%AE%E0%A6%BE%E0%A6%9C-%E0%A6%95%E0%A6%B2%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%A3-%E0%A6%AA%E0%A6%B0%E0%A6%BF%E0%A6%B7%E0%A6%A6-107082170818107" style="text-decoration: none; color: red">GOTO PAGE</a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title">Certificates</h3>
                        <div class="resume-item pb-0">
                            <h4>Solo Learn Js Programmer</h4>
                            <p><em>Certified by Solo Learn</em></p>

                        </div>
                        <div class="resume-item pb-0">
                            <h4>Solo Learn HTML,CSS Programmer</h4>
                            <p><em>Certified by Solo Learn</em></p>

                        </div>
                        <div class="resume-item pb-0">
                            <h4>Solo Learn C# Programmer</h4>
                            <p><em>Certified by Solo Learn</em></p>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title">Languages</h3>
                        <div class="resume-item pb-0">
                            <h4>Bengali</h4>
                            <p><em>Native and Bilingual Proficiency</em></p>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>English</h4>
                            <p><em>Full Professional Proficiency</em></p>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>Hindi</h4>
                            <p><em>Elementary Proficiency</em></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="resume-title">Research & Interests</h3>
                        <div class="resume-item pb-0">
                            <h4>Artificial intelligence and robotics</h4>
                            <p><em>Broadly, figuring out how to formalize human capabilities which currently appear
                                beyond the reach of computers and robots, then make computers and robots more efficient
                                at it. Self-driving cars and swarms of search-and-rescue robots are a good illustration.
                                In the past, once good model were found for something (such as computer-aided design of
                                electronic circuits), this research moves into a different field - the design of
                                efficient algorithms, statistical models, computing hardware, etc.</em></p>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>Databases, data centers, information retrieval and natural-language processing</h4>
                            <p><em>collecting and storing massive collections of data and making them easily available
                                (indexing, search), helping computers understand (structure in) human-generated
                                documents and artifacts of all kinds (speech, video, text, motion, biometrics) and
                                helping people search for the information they need when they need it. There are many
                                interactions with abundant-data applications here, as well as with human-computer
                                interaction, as well as with networking.</em></p>
                        </div>
                        <div class="resume-item pb-0">
                            <h4>Programming languages and environments</h4>
                            <p><em>automated analysis of programs in terms of correctness and resource requirements,
                                comparisons between languages, software support for languages,
                                program optimization, support for parallel programming, domain-specific languages,
                                interactions between languages, systems that assist programmers by inferring their
                                intent.</em></p>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Resume Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>

                <div class="row mt-1">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>Gazipur, Board Bazar, Dhaka</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>Shahriazkobir@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p>(+88) 01891977686</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

{% endblock %}