<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Sharieaz Kavier</h3>
      <p>This website is developed and designed by me.</p>
      <div class="social-links">
        <a target="_blank" href="https://twitter.com/shahriazkobir" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/shahriaz.kobir/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a target="_blank" href="https://join.skype.com/invite/U9K7OgXo2dKx" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/shahriaz-kobir-023b181b6/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Sharieaz kavier</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a target="_blank" href="https://facebook.com/shahriaz.kabir">Sharieaz kavier</a>
      </div>
    </div>
  </footer><!-- End Footer -->